.clock-wrap {
    .clock {
        margin-right: 17px;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        background-color: #ccc;
    }

    .result {
        &_input {
            width: 30px;
            height: 27px;
            text-align: center;
            border: 1px solid rgba(54, 209, 220, 1);
        }

        .text {
            margin: 0 5px;
            font-size: 12px;
            font-weight: 400;
            line-height: 17.38px;
            color: rgba(0, 0, 0, 1);
        }
    }
}