// background start
.bg_primary {
    min-height: 100vh;
    background: $primaryBackgrond;
    box-shadow:inset 8px -8px 28px  rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}
// background end


// flex start
.flex_row {
    display: flex;
    flex-flow: row nowrap;
}

.flex_column {
    display: flex;
    flex-flow: column nowrap;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_1 {
    flex: 1;
}

.justify-content_flex_end {
    justify-content: flex-end;
}

.justify-content_center {
    justify-content: center;
}

.justify-content_space_between {
    justify-content: space-between;
}

.align-items_center {
    align-items: center;
}

.align-items_flex-end {
    align-items: flex-end;
}

.center {
    @extend .justify-content_center;
    @extend .align-items_center;
}
// flex end

// margin 、padding start
.p-row_20 {
    padding-left: 20px;
    padding-right: 20px;
}

.p-column_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-top_20 {
    padding-top: 20px;
}

.p-bottom_20 {
    padding-bottom: 20px;
}

.m-row_10 {
    margin: 0 10px;
}

.m-left_10 {
    margin-left: 10px;
}

.m-right_10 {
    margin-right: 10px;
}

.m-top_20 {
    margin-top: 20px;
}

.m-bottom_20 {
    margin-bottom: 20px;
}
// margin 、padding end

// position start
.position_sticky {
    position: sticky;
    top: 0;
}
//  position end